# Terraform directories
.terraform/
.terraform.tfstate.lock.info
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Terraform variable files (sensible si contienen datos secretos)
*.tfvars
*.tfvars.json

# Plan output files
*.tfplan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive local environment variables
terraform.tfvars
terraform.tfstate.d/

# Ignore SSH keys or private keys
*.pem
*.key
